---
- name: Install required packages
  package:
    name:  '{{ item }}'
    state: present
  with_items: '{{ ipcheck__packages_names }}'

- name: Install IpCheck program
  git:
    repo:   '{{ ipcheck__repository_url }}'
    dest:   '{{ ipcheck__install_path }}'
    clone:  yes
    update: '{{ ipcheck__git_update }}'

- name: Download externals ressources if needed
  get_url:
    url:      '{{ item.url }}'
    checksum: '{{ item.checksum|d(omit) }}'
    dest:     '{{ ipcheck__resources_path }}/{{ item.file }}'
    owner:    '{{ ipcheck__runas_user }}'
    group:    root
    mode:     0750
  with_items: '{{ ipcheck__extensions_ressources_url }}'
