;
; {{ ansible_managed }}
;
[core]
{{ 'url_v4' if ipcheck__repository_version is version_compare(4, '>=') else 'url' }} = {{ ipcheck__urls|join(',') }}

{% for name, settings in ipcheck__extensions|dictsort %}
[extension.{{ name }}]
{%   for key, value in settings|dictsort %}
{{ key }} = {{ value }}
{%   endfor %}

{% endfor %}
